<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/image/urspi_new.png">
    <title th:text="${title}"></title>
    <!-- Custom CSS -->
    <link href="/css/admin.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <div th:insert="~{parts/header::header}"></div>
    <div th:insert="~{parts/aside::aside}"></div>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Arizalar</h4>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex align-items-center justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin">Asosiy</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Arizalar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3>Arizalar</h3>
<!--                            Applications list start-->
                            <table class="table table-bordered table-striped mb-3 table-hover">
                                <thead>
                                <tr>
                                    <th>Ariza raqami</th>
                                    <th>F.I.O</th>
                                    <th>Viloyat</th>
                                    <th>Shahar yoki tuman</th>
                                    <th>Telefon raqam</th>
                                    <th>Ariza turi</th>
                                    <th>Jinsi</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="app, iterStat : ${applications}">
                                    <td th:text="${app.uniqueNumber}"></td>
                                    <td th:text="${app.name}"></td>
                                    <td th:text="${app.region}"></td>
                                    <td th:text="${app.district}"></td>
                                    <td th:text="${app.mobile}"></td>
                                    <td th:if="${app.typeOfApplication=='1'}">
                                        <button disabled class="btn btn-outline-orange">Ariza</button>
                                    </td>
                                    <td th:if="${app.typeOfApplication=='2'}">
                                        <button disabled class="btn btn-outline-danger">Shikoyat</button>
                                    </td>
                                    <td th:if="${app.typeOfApplication=='3'}">
                                        <button disabled class="btn btn-outline-success">Taklif</button>
                                    </td>
                                    <td th:text="${app.gender}"></td>
                                    <td th:if="${app.status == 0}">
                                        <button disabled class="btn btn-orange">Yangi</button>
                                    </td>
                                    <td th:if="${app.status == 1}">
                                        <button disabled class="btn btn-secondary">Ko`rish jarayonida</button>
                                    </td>
                                    <td th:if="${app.status == 2}">
                                        <button disabled class="btn btn-success">Qabul qilingan</button>
                                    </td>
                                    <td th:if="${app.status == 3}">
                                        <button disabled class="btn btn-danger">Rad qilingan</button>
                                    </td>
                                    <td><a th:href="@{'/admin/application/info/'+${app.uniqueNumber}}" class="btn btn-outline-primary"> <i class="ti-eye"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
<!--                            Application list end-->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                                        <a th:href="@{/admin/application(page=${currentPage - 1}, size=10)}" class="page-link">&laquo;</a>
                                    </li>
                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                        th:classappend="${i == currentPage} ? 'active'">
                                        <a th:href="@{/admin/application(page=${i}, size=10)}" th:text="${i + 1}" class="page-link"></a>
                                    </li>
                                    <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled'" class="page-item">
                                        <a th:href="@{/admin/application(page=${currentPage + 1}, size=4)}" class="page-link">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{parts/footer::footer}"></div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="/js/app.min.js"></script>
<script src="/js/app.init.js"></script>
<script src="/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/sparkline.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
</body>

</html>